<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.BuyFresh.tab"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.Team4.BuyFresh.MainActivity"
            android:label="Buy Fresh" 
          
            >
            
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
           
          android:name="com.MenuOptions.PriceList"   
           android:label="Pricelist"
        />
        <activity
           android:name="com.MenuOptions.Cart"   
           android:label="Cart"
          android:parentActivityName="com.Team4.BuyFresh.MainActivity" >
           
           <!-- To support split actionbar below API Level 14 -->
            <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />
          
          ></activity>
         <activity
           
          android:name="com.MenuOptions.AboutUs"   
           android:label="AboutUs"
        />
    </application>

</manifest>
